:root {
  --color-primary-dark: #252525;
  --color-primary-dark-pale: #707070;
  --color-primary-dark-darkest: #141414;
  --color-secondary-light: #f0f0f0;
  --color-secondary-light-grey: #e0e0e0;
  --color-secondary-light-darkest: #b8b8b8;

  --color-accent-1: #c9a94e;
  --color-accent-2: #E5C97A;

  --font-primary: "Noto Serif", serif;
  --font-secondary: "Noto Sans", sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}

html {
  font-family: var(--font-secondary);
  color: var(--color-secondary-light-grey);
}

h1,
h2,
h3 {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
  color: var(--color-secondary-light-grey);
}

h4,
h5,
h6 {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-regular);
  color: var(--color-secondary-light-grey);
}

ul,
ol {
  list-style-type: none;
}

a {
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-bold);
  color: var(--color-secondary-light);
  text-decoration: none;
}

blockquote {
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-bold);
  color: var(--color-secondary-light-grey);
}

cite {
  font-family: var(--font-secondary);
  color: var(--color-secondary-light-grey);
  font-style: italic;
}

mark {
  color: var(--color-primary-dark-darkest);
  background-color: aquamarine;
}

em {
  font-weight: 600;
}

strong {
  font-weight: var(--font-weight-bold);
}
