.card {
  background-color: var(--color-secondary-light-grey);
  border-radius: 6px;
  max-width: 70%;
}

.img-card {
  border-radius: 8px 8px 0 0;
}

.card-content {
  color: var(--color-primary-dark);
}

.card-title {
  font-family: var(--font-primary);
}

.cart-cart {
  text-align: right;
}

.card:hover .img-card {

}
