/* --------------Product card--------------- */

.card {
  background-color: var(--color-secondary-light-grey);
  border-radius: 8px;
  max-width: 70%;
}

.img-card {
  border-radius: 8px 8px 0 0;
}

.card-content {
  color: var(--color-primary-dark);
}

.card-title {
  font-family: var(--font-primary);
}

.cart-cart {
  text-align: right;
}

/* ----------Categories Cards--------------- */

.sale-sticker {
  position: absolute;
  left: 0;
  top: 0;
}

/* ----------Categories Cards--------------- */

.category-card {
  border-radius: 22px;
}

.img-card-category {
  border-radius: 22px 22px 0 0;
}

.bottom-sec {
  background-color: var(--color-primary-dark-darkest);
  border: 2px solid transparent;
  border-radius: 0 0 22px 22px;
}

.category-name {
  color: var(--color-secondary-light);
  font-family: var(--font-primary);
  text-align: center;
}

.category-card:hover .bottom-sec {
  background-color: var(--color-primary-dark-pale);
}
